@import 'fonts/roboto/roboto.css';
@import 'fonts/proxima-nova/proxima-nova.css';

@import 'variables.scss';

@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/utilities';
@import 'bootstrap/scss/root';
@import 'bootstrap/scss/reboot';
@import 'bootstrap/scss/type';
@import 'bootstrap/scss/containers';
@import 'bootstrap/scss/grid';
@import 'bootstrap/scss/transitions';
@import 'bootstrap/scss/utilities/api';

html {
  font-size: #{$font-size-base + 'px'};
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.7;
  width: 100%;
  overflow-x: hidden;
}
