

$font-size-base: 14;

$gutter: 40px;
$max_width_container: 1180px;
$padding_container: 10px;

@function calc_rem($val_px) {
  $result: #{$val_px / $font-size-base + 'rem'};

  @return $result;
}

@function devide($num1, $num2) {
  $result: $num1 / $num2;

  @return $result;
}
